#root {
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.nav{
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid black;
  background-color: darkblue;
  color: white;
}

.nav p{
  margin: 4px;
}

.nav-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}