.card{
  display: grid;
  grid-template-rows: 5fr 3fr 1fr 1fr;
  border: 2px solid black;
  border-radius: 4px;
  overflow: auto;
  width: 300px;
  height: 600px;
  margin: 8px;
}

.title_container{
  overflow: hidden;
}

.img_container{
  /* background-color: blue; */
  background-size: contain;
  background-repeat: no-repeat;
}

.shopping{
  display: flex;
  flex-wrap: wrap;
}

.quantity_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quantity{
  display: flex;
  align-items: center;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart_button{
  display: flex;
  align-items: center;
}

input{
  width: 50px;
  height: 35px;
}